{% extends 'layout.html' %}

{% block body %}
<script type="text/javascript" src="{{url_for('static', filename='misc.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='common.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='wind.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='airplane.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='instruments.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='labels.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='application.js')}}"></script>
{% endblock %}