body, html {
    font-family: 'SF Pro Rounded';
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.text-centered {
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                       supported by Chrome, Edge, Opera and Firefox */
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(87, 87, 87);
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 41, 41);
}